﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Скорина</title>
</head>
<body>
    <div id="main"></div>
</body>
</html>
